# Web Scraping Assignment-4

In [88]:
import selenium
import pandas as pd
import time

from selenium import webdriver

from selenium.common.exceptions import NoSuchElementException, ElementNotVisibleException, UnexpectedTagNameException, SessionNotCreatedException

In [232]:
# lets first connect to Web Driver

try:
    driver = webdriver.Chrome('chromedriver.exe')
except SessionNotCreatedException as e:
    print('Web driver version not matched:', e)

## Question: 1

In [163]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/')

In [164]:
try:
    url = driver.find_element_by_xpath("//span[@class='plainlinks']/a")
    driver.get(url.get_attribute('href'))
    
except ElementNotVisibleException as e:
    print('Execption Raised: ', e)
except UnexpectedTagNameException as e:
    print('Tag Name not found:', e)

In [165]:
try:
    url2 = driver.find_element_by_xpath("//div[@class='mw-search-result-heading']/a")
    driver.get(url2.get_attribute('href'))
    
except ElementNotVisibleException as e:
    print('Execption Raised: ', e)
except UnexpectedTagNameException as e:
    print('Tag Name not found:', e)

In [166]:
rank = []
name = []
artist = []
date = []
views = []

try:
    rank_tag = driver.find_elements_by_xpath(f"//div[@class='mw-parser-output']/table[3]/tbody/tr/td[1]")
    name_tag = driver.find_elements_by_xpath(f"//div[@class='mw-parser-output']/table[3]/tbody/tr/td[2]")
    artist_tag = driver.find_elements_by_xpath(f"//div[@class='mw-parser-output']/table[3]/tbody/tr/td[3]")
    views_tag = driver.find_elements_by_xpath(f"//div[@class='mw-parser-output']/table[3]/tbody/tr/td[4]")
    date_tag = driver.find_elements_by_xpath(f"//div[@class='mw-parser-output']/table[3]/tbody/tr/td[5]")

    for i in rank_tag[:30]:
        rank.append(i.text[:-1])

    for i in name_tag[:30]:
        name.append(i.text)

    for i in artist_tag[:30]:
        artist.append(i.text)

    for i in date_tag[:30]:
        date.append(i.text)

    for i in views_tag[:30]:
        views.append(i.text)
        
except UnexpectedTagNameException as e:
    print('Tag Name not found:', e)

In [167]:
youtube = pd.DataFrame({'Rank':rank, 'Name': name, 'Artist': artist, 'Upload Date':date, 'Views in billions': views})
youtube

,Rank,Name,Artist,Upload Date,Views in billions
0,1,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.09
1,2,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.24
2,3,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",5.21
3,4,"""See You Again""[26]",Wiz Khalifa,"April 6, 2015",4.99
4,5,"""Johny Johny Yes Papa""[29]",LooLoo Kids,"October 8, 2016",4.90
5,6,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.42
6,7,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.11
7,8,"""Gangnam Style""[32]",Psy,"July 15, 2012",4.00
8,9,"""Learning Colors – Colorful Eggs on a Farm""[34]",Miroshka TV,"February 27, 2018",3.74
9,10,"""Bath Song""[35]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.74
10,11,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.60
11,12,"""Sorry""[37]",Justin Bieber,"October 22, 2015",3.41
12,13,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.41
13,14,"""Roar""[39]",Katy Perry,"September 5, 2013",3.29
14,15,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.21
15,16,"""Thinking Out Loud""[41]",Ed Sheeran,"October 7, 2014",3.20
16,17,"""Dame Tu Cosita""[42]",El Chombo,"April 5, 2018",3.15
17,18,"""Shake It Off""[43]",Taylor Swift,"August 18, 2014",3.03
18,19,"""Faded""[44]",Alan Walker,"December 3, 2015",3.00
19,20,"""Dark Horse""[45]",Katy Perry,"February 20, 2014",2.99
20,21,"""Lean On""[46]",Major Lazer Official,"March 22, 2015",2.99
21,22,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",2.98
22,23,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",2.97
23,24,"""Let Her Go""[49]",Passenger,"July 25, 2012",2.93
24,25,"""Mi Gente""[50]",J Balvin,"June 29, 2017",2.88
25,26,"""Hello""[51]",Adele,"October 22, 2015",2.80
26,27,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.76
27,28,"""Waka Waka (This Time for Africa)""[53]",Shakira,"June 4, 2010",2.76
28,29,"""Blank Space""[54]",Taylor Swift,"November 10, 2014",2.73
29,30,"""Chantaje""[55]",Shakira,"November 18, 2016",2.63

## Question 2:

In [159]:
driver.get('https://www.bcci.tv/')

In [160]:
try:
    url3 = driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']/div[1]/ul/li[1]/a")
    driver.get(url3.get_attribute('href'))
    
except ElementNotVisibleException as e:
    print('Exception Raised: ',e)
except UnexpectedTagNameException as e:
    print('Tag Name not found:', e)

In [161]:
match = []
series = []
place = []
date = []
month = []
time = []

try:
    match_tag = driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__format']")
    series_tag = driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
    place_tag = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
    date_tag = driver.find_elements_by_xpath("//span[@class='fixture__date']")
    month_tag = driver.find_elements_by_xpath("//span[@class='fixture__month']")
    time_tag = driver.find_elements_by_xpath("//span[@class='fixture__time']")


    for i in match_tag:
        match.append(i.text)

    for i in series_tag:
        series.append(i.text)

    for i in place_tag:
        place.append(i.text)

    for i in date_tag:
        date.append(i.text)

    for i in month_tag:
        month.append(i.text)

    for i in time_tag:
        time.append(i.text)

    result = ', '.join('% s  % s' % i for i in zip(date, month))
    date_list = result.split(', ')
    

except UnexpectedTagNameException as e:
    print('Tag Name not found:', e)

In [162]:
cricket = pd.DataFrame({'Match':match, 'Series': series, 'Place': place, 'Date':date_list, 'Time': time})
cricket

,Match,Series,Place,Date,Time
0,TEST,4th Test,"Narendra Modi Stadium, Ahmedabad",04 MARCH,09:30 IST
1,T20I,1st T20I,"Narendra Modi Stadium, Ahmedabad",12 MARCH,19:00 IST
2,T20I,2nd T20I,"Narendra Modi Stadium, Ahmedabad",14 MARCH,19:00 IST
3,T20I,3rd T20I,"Narendra Modi Stadium, Ahmedabad",16 MARCH,19:00 IST
4,T20I,4th T20I,"Narendra Modi Stadium, Ahmedabad",18 MARCH,19:00 IST
5,T20I,5th T20I,"Narendra Modi Stadium, Ahmedabad",20 MARCH,19:00 IST
6,ODI,1st ODI,"Maharashtra Cricket Association Stadium, Pune",23 MARCH,13:30 IST
7,ODI,2nd ODI,"Maharashtra Cricket Association Stadium, Pune",26 MARCH,13:30 IST
8,ODI,3rd ODI,"Maharashtra Cricket Association Stadium, Pune",28 MARCH,13:30 IST
9,TEST,1st Test,"Trent Bridge, Nottingham",04 AUGUST,15:30 IST
10,TEST,2nd Test,"Lord's, London",12 AUGUST,15:30 IST
11,TEST,3rd Test,"Headingley, Leeds",25 AUGUST,15:30 IST
12,TEST,4th Test,"The Oval, London",02 SEPTEMBER,15:30 IST
13,TEST,5th Test,"Old Trafford, Manchester",10 SEPTEMBER,15:30 IST

## Question 3:

In [64]:
driver.get('https://www.guru99.com/')

In [67]:
try:
    url4 = driver.find_element_by_xpath("//div[@class='featured-box cloumnsize1']/ul[1]/li[3]/a")
    driver.get(url4.get_attribute('href'))
    
except ElementNotVisibleException as e:
    print('Exception Raised: ',e)
except UnexpectedTagNameException as e:
    print('Tag Name not found:', e)

In [72]:
try:
    url5 = driver.find_element_by_xpath("//div[@class='item-page']/div[2]/table[5]/tbody[1]/tr[34]/td/a")
    driver.get(url5.get_attribute('href'))
    
except ElementNotVisibleException as e:
    print('Exception Raised :', e)
except UnexpectedTagNameException as e:
    print('Tag Name not found:', e)

In [74]:
name = []
descrp = []

try:
    name_tag = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    descrip_tag = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
    
    for i in name_tag:
        name.append(i.text)

    for i in descrip_tag:
        descrp.append(i.text)    


except UnexpectedTagNameException as e:
    print('Tag Name not found:', e)

In [78]:
guru = pd.DataFrame({'Exception Name': name[1:], 'Exception Description' : descrp[1:]})
guru

,Exception Name,Exception Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

## Question 4:

In [151]:
driver.get('http://statisticstimes.com/')

In [152]:
try:
    link = driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div[1]/a[3]")
    driver.get(link.get_attribute('href'))

except ElementNotVisibleException as e:
    print('Execption Raised: ', e)
except UnexpectedTagNameException as e:
    print('Tag Name not found:', e)

In [154]:
try:
    link = driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li[1]/a")
    driver.get(link.get_attribute('href'))

except ElementNotVisibleException as e:
    print('Execption Raised: ', e)
except UnexpectedTagNameException as e:
    print('Tag Name not found:', e)

In [156]:
rank = []
state = []
gsd_19_20 = []
gsdp_18_19 = []
share_19 = []
gdp = []

try:
    rank_tag = driver.find_elements_by_xpath("//table[@id = 'table_id']/tbody/tr/td[1]")
    state_tag = driver.find_elements_by_xpath("//table[@id = 'table_id']/tbody/tr/td[2]")
    gsd_19_20_tag = driver.find_elements_by_xpath("//table[@id = 'table_id']/tbody/tr/td[3]")
    gsdp_18_19_tag = driver.find_elements_by_xpath("//table[@id = 'table_id']/tbody/tr/td[4]")
    share_19_tag = driver.find_elements_by_xpath("//table[@id = 'table_id']/tbody/tr/td[5]")
    gdp_tag = driver.find_elements_by_xpath("//table[@id = 'table_id']/tbody/tr/td[6]")


    for i in rank_tag:
        rank.append(i.text)

    for i in state_tag:
        state.append(i.text)

    for i in gsd_19_20_tag:
        gsd_19_20.append(i.text)

    for i in gsdp_18_19_tag:
        gsdp_18_19.append(i.text)

    for i in share_19_tag:
        share_19.append(i.text)

    for i in gdp_tag:
        gdp.append(i.text)
        
except UnexpectedTagNameException as e:
    print('Tag Name not found:', e)

In [158]:
gdp_india = pd.DataFrame({'Rank':rank, 'State': state, 'GSDP(19-20)': gsd_19_20, 'GSDP(18-19)':gsdp_18_19, 'Shares-19': share_19, 'GDP (in $ billion)':gdp})
gdp_india

,Rank,State,GSDP(19-20),GSDP(18-19),Shares-19,GDP (in $ billion)
0,1,Maharashtra,-,"2,632,792",13.88%,398.145
1,2,Tamil Nadu,"1,845,853","1,630,208",8.59%,246.529
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.35%,239.656
3,4,Gujarat,-,"1,502,899",7.92%,227.276
4,5,Karnataka,"1,631,977","1,493,127",7.87%,225.798
5,6,West Bengal,"1,253,832","1,089,898",5.75%,164.820
6,7,Rajasthan,"1,020,989","942,586",4.97%,142.543
7,8,Andhra Pradesh,"972,782","862,957",4.55%,130.501
8,9,Telangana,"969,604","861,031",4.54%,130.210
9,10,Madhya Pradesh,"906,672","809,592",4.27%,122.431
10,11,Kerala,-,"781,653",4.12%,118.206
11,12,Delhi,"856,112","774,870",4.08%,117.180
12,13,Haryana,"831,610","734,163",3.87%,111.024
13,14,Bihar,"611,804","530,363",2.80%,80.204
14,15,Punjab,"574,760","526,376",2.77%,79.601
15,16,Odisha,"521,275","487,805",2.57%,73.768
16,17,Assam,-,"315,881",1.67%,47.769
17,18,Chhattisgarh,"329,180","304,063",1.60%,45.982
18,19,Jharkhand,"328,598","297,204",1.57%,44.945
19,20,Uttarakhand,-,"245,895",1.30%,37.186
20,21,Jammu & Kashmir,-,"155,956",0.82%,23.584
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.265
22,23,Goa,"80,449","73,170",0.39%,11.065
23,24,Tripura,"55,984","49,845",0.26%,7.538
24,25,Chandigarh,-,"42,114",0.22%,6.369
25,26,Puducherry,"38,253","34,433",0.18%,5.207
26,27,Meghalaya,"36,572","33,481",0.18%,5.063
27,28,Sikkim,"32,496","28,723",0.15%,4.344
28,29,Manipur,"31,790","27,870",0.15%,4.215
29,30,Nagaland,-,"27,283",0.14%,4.126
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.721
31,32,Mizoram,"26,503","22,287",0.12%,3.370
32,33,Andaman & Nicobar Islands,-,-,-,-

## Question 5:

In [263]:
driver.get('https://github.com/')

In [264]:
try:
    url6 = driver.find_element_by_xpath("//div[@class='dropdown-menu flex-auto rounded-1 color-bg-primary px-0 pt-2 pb-0 mt-0 pb-4 p-lg-4 position-relative position-lg-absolute left-0 left-lg-n4']/ul[2]/li[3]/a")
    driver.get(url6.get_attribute('href'))

except ElementNotVisibleException as e:
    print('Execption Raised: ', e)
except UnexpectedTagNameException as e:
    print('Tag Name not found:', e)

In [265]:
title = []
description = []
count = []
language = []

try:
    title_tag = driver.find_elements_by_xpath("//div[@class='position-relative container-lg p-responsive pt-6']/div[1]/div[2]/article[@class='Box-row']/h1")
    
    try:
        descrp_tag = driver.find_elements_by_xpath("//div[@class='position-relative container-lg p-responsive pt-6']/div[1]/div[2]/article[@class='Box-row']/p")
    except NoSuchElementException as e:
        description.append('NA')
    
    lang_tag = driver.find_elements_by_xpath("//span[@itemprop='programmingLanguage']")
    count_tag = driver.find_elements_by_xpath("//div[@class='position-relative container-lg p-responsive pt-6']/div[1]/div[2]/article[@class='Box-row']/div[2]/a[2]")

    for i in title_tag:
        title.append(i.text)

    for i in descrp_tag:
        description.append(i.text)

    for i in lang_tag:
        language.append(i.text)

    for i in count_tag:
        count.append(i.text)


except UnexpectedTagNameException as e:
    print('Tag Name not found:', e)

In [271]:
# to find the index and remove the index from other features
print(title.index('connor-create / wsbtrades'))

for i in [title, count, language]:
    i.pop(9)

9

In [274]:
print(title.index('Developer-Y / cs-video-courses'))
print(title.index('sarven / unit-testing-tips'))
print(title.index('florinpop17 / app-ideas'))
print(title.index('freefq / free'))
print(title.index('thunlp / GNNPapers'))

for i in [title, count, description]:
    i.pop(7)
    i.pop(11)
    i.pop(14)
    i.pop(16)
    i.pop(19)

7
11
14
16
19

In [276]:
git = pd.DataFrame({'Repository Title': title, 'Repository Description': description, 'Language Used': language, 'Contributors count': count})
git

,Repository Title,Repository Description,Language Used,Contributors count
0,dolthub / dolt,Dolt – It's Git for Data,Go,92
1,openai / CLIP,Contrastive Language-Image Pretraining,Jupyter Notebook,213
2,google / googletest,Googletest - Google Testing and Mocking Framework,C++,"7,269"
3,flutter / flutter,Flutter makes it easy and fast to build beauti...,Dart,"16,387"
4,git / git,Git Source Code Mirror - This is a publish-onl...,C,"21,033"
5,dwisiswant0 / apkleaks,"Scanning APK file for URIs, endpoints & secrets.",Python,107
6,coolsnowwolf / lede,Lean's OpenWrt source,C,"13,233"
7,gskinnerTeam / flutter-folio,"A platform adaptive Flutter app for desktop, m...",Dart,179
8,facebookresearch / d2go,D2Go is a toolkit for efficient deep learning,Python,12
9,microsoft / CSS-Exchange,Exchange Server support tools and scripts,PowerShell,29
10,sarven / unit-testing-tips,Unit testing tips by examples in PHP,Ruby,8
11,MicrosoftLearning / AZ-104-MicrosoftAzureAdmin...,AZ-104 Microsoft Azure Administrator,PowerShell,"1,172"
12,florinpop17 / app-ideas,A Collection of application ideas which can be...,JavaScript,"5,254"
13,trekhleb / javascript-algorithms,📝 Algorithms and data structures implemented i...,Rust,"16,417"
14,nushell / nushell,A new type of shell,Ruby,517
15,Shopify / upgrow,A sustainable architecture for Ruby on Rails.,Rust,14
16,getzola / zola,A fast static site generator in a single binar...,TypeScript,439
17,microsoft / vscode,Visual Studio Code,Python,"18,212"
18,muguruzawang / jd_maotai_seckill,优化版本的京东茅台抢购神器,Shell,"4,288"

## Question 6

In [134]:
driver.get('https://www.billboard.com/')

In [136]:
try:
    url7 = driver.find_element_by_xpath("//nav[@class='header__subnav bg--light']/ul[@class='header__subnav__list display--flex flex--left-center flex-md--center-center']/li[3]/a")
    driver.get(url7.get_attribute('href'))

except ElementNotVisibleException as e:
    print('Execption Raised: ', e)
except UnexpectedTagNameException as e:
    print('Tag Name not found:', e)

In [148]:
song_name = []
artist_name = []
rank = []
peak_rank = []
weeks = []

try:
    song_tag = driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
    artist_tag = driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
    rank_tag = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
    peak_tag = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
    week_tag = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")

    for i in song_tag:
        song_name.append(i.text)

    for i in artist_tag:
        artist_name.append(i.text)

    for i in rank_tag:
        rank.append(i.text)

    for i in peak_tag:
        peak_rank.append(i.text)

    for i in week_tag:
        weeks.append(i.text)
        
except UnexpectedTagNameException as e:
    print('Tag Name not found:', e)

In [149]:
billboard = pd.DataFrame({'Song name': song_name, 'Artist name': artist_name, 'Last week rank': rank, 'Peak rank': peak_rank, 'Weeks on board': weeks})
billboard

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Drivers License,Olivia Rodrigo,1,1,7
1,Up,Cardi B,5,2,3
2,Go Crazy,Chris Brown & Young Thug,8,3,42
3,34+35,Ariana Grande,2,2,17
4,Blinding Lights,The Weeknd,4,1,64
...,...,...,...,...,...
95,The Business,Tiesto,-,96,1
96,Hello,Pop Smoke Featuring A Boogie Wit da Hoodie,-,97,1
97,Monster,Shawn Mendes & Justin Bieber,91,8,14
98,Track Star,Mooski,-,99,1
99,Like I Want You,Giveon,95,95,2

## Question 7:

In [245]:
driver.get('https://www.naukri.com/')

In [246]:
try:
    url7 = driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a")
    driver.get(url7.get_attribute('href'))

except ElementNotVisibleException as e:
    print('Execption Raised: ', e)
except UnexpectedTagNameException as e:
    print('Tag Name not found:', e)

In [247]:
x = driver.find_element_by_xpath("//input[@class='sugInp']")
x.send_keys('Data Science')

In [248]:
driver.find_element_by_xpath('//button[@id="qsbFormBtn"]').click()

In [249]:
name = []
desg = []
company = []
location = []
skills = []

try:
    name_tag = driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
    desg_tag = driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
    company_tag = driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
    location_tag = driver.find_elements_by_xpath("//small[@class='ellipsis']")
    skills_tag = driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")

    for i in name_tag:
        name.append(i.text)

    for i in desg_tag:
        desg.append(i.text)

    for i in company_tag:
        company.append(i.text)

    for i in location_tag:
        if i.text is None:
            location.append('NA')
        else:
            location.append(i.text)

    for i in skills_tag:
        skills.append(i.text)
        
except UnexpectedTagNameException as e:
    print('Tag Name not found:', e)

In [254]:
# to find the index and remove the index with value
for i in ['Sunil Vedula', 'Amir Chowdhury']:
    if i in name:
        print(name.index(i))
        
for i in [name, desg, company, skills]:
    i.pop(28)
    i.pop(45)

28
45

In [256]:
jobs = pd.DataFrame({'Name': name, 'Designation':desg, 'Company':company, 'Location':location, 'Skills Hired for':skills})
jobs

,Name,Designation,Company,Location,Skills Hired for
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,Chandigarh,"Web Designing, html5, Angular.js, seo, hadoop,..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
5,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,Delhi,"Python, Data Science, .Net, Java, Big Data, Da..."
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai,Data Science
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
10,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
12,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
13,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
15,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
16,Kapil Devang,HR Manager,BISP Solutions,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,Data Science
18,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi,"Corporate Sales, Software Development, Softwar..."
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
21,Rithika dadwal,HR Recruiter,Affine Analytics,Pune,"Data Science, Machine Learning, Python, R, Dee..."
22,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Data Science, Artificial Intelligence, Machine..."
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,"Big Data, Data Science, Artificial Intelligenc..."
24,Shaun Rao,Manager Human Resources,Exela Technologies,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
25,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Bengaluru / Bangalore,"Server Administartion, Verilog, Vhdl, Digital ..."
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
27,kumar,Proprietor,trainin,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
28,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Delhi,"Web Technologies, Project Management, Software..."
29,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading..."
30,Prateek Kumar,Head,Trisect,Noida,"Java, Python, Angularjs, Software Testing, Mac..."
31,Amit Sharma,Consultant,ASCO consulting,New Delhi,"Machine Learning, Artificial Intelligence, Dat..."
32,Kanan,senior technology instructor,NY INST,Chennai,"C, C++, Artificial Intelligence, Python, Php, ..."
33,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Aligarh,"Relationship Management, Retail Sales, Private..."
34,Brad,"Manager, Technical Recruiting",O.C. Tanner,Salt Lake City,"Data Science, Software Engineering"
35,Rutuja Pawar,Technical Recruiter,Demand Matrix,Pune,"Data Science, Big Data Analytics, Digital Mark..."
36,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore,"Data Science, Recruitment, Salary"
37,Ankit Sinha,Head Analytics,Suntech Global,Mumbai,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
38,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Indore,"Software Development, Business Intelligence, B..."
39,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,Bengaluru / Bangalore,"Data Science, Node.js, Angularjs"
40,Ashwini,Director Global Delivery,MRP Advisers,MYSORE,"Data Science, Media Marketing, Resource Planni..."
41,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Hyderabad / Secunderabad,"Data Analysis, Learning, Data Science, Compute..."
42,Rajani Nagaraj,HR Manager,WildJasmine,Bengaluru / Bangalore,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
43,ROHIT Kumar,Architect,LNT Private Limited,Mumbai,"Software Development, Core Java, Unit Testing,..."
44,Amir Chowdhury,Managing Partner,Granular.ai,Hyderabad / Secunderabad,"Machine Learning, Data Science, Product Manage..."
45,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,Noida,"consulting, Education Counseling, Educational ..."
46,Sunny Sharma,Managing Director - HR,Western Service Providers,Mumbai,"Software Professionals, Engineering, Technical..."
47,Sagar Lama,Company HR Manager,AdView,Bengaluru / Bangalore,"Full Stack Developers, Product Manager, Data S..."

## Question 8:

In [171]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [172]:
rank = []
name = []
author = []
volumes_sold = []
publisher = []
genre = []

try:
    rank_tag = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[1]")
    name_tag = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
    author_tag = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
    volumes_sold_tag = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
    publisher_tag = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
    genre_tag = driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")


    for i in rank_tag:
        rank.append(i.text)

    for i in name_tag:
        name.append(i.text)

    for i in author_tag:
        author.append(i.text)

    for i in volumes_sold_tag:
        volumes_sold.append(i.text)

    for i in publisher_tag:
        publisher.append(i.text)

    for i in genre_tag:
        genre.append(i.text)
        
except UnexpectedTagNameException as e:
    print('Tag Name not found:', e)

In [173]:
books = pd.DataFrame({'Rank': rank, 'Book Name':name, 'Author Name': author, 'Volumes Sold': volumes_sold, 'Publisher':publisher, 'Genre':genre})
books

,Rank,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

## Question 9

In [186]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [191]:
rank = []
name = []
year = []
genre = []
runtime = []
ratings = []
votes = []


try:
    rank_tag = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[1]")
    name_tag = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    year_tag = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
    ratings_tag = driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div/span[2]")
    runtime_tag = driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[1]/span[3]")
    genre_tag = driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[1]/span[5]")
    votes_tag = driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]")

    for i in rank_tag:
        rank.append(i.text)

    for i in name_tag:
        name.append(i.text)

    for i in year_tag:
        year.append(i.text)

    for i in genre_tag:
        genre.append(i.text)

    for i in ratings_tag:
        ratings.append(i.text)

    for i in runtime_tag:
        runtime.append(i.text)
        
    for i in votes_tag:
        votes.append(i.text)
        
except UnexpectedTagNameException as e:
    print('Tag Name not found:', e)

In [193]:
imdb = pd.DataFrame({'Rank': rank, 'Name': name, 'Year':year, 'Genre':genre, 'Runtime':runtime, 'Ratings':ratings, 'Votes':votes})
imdb

,Rank,Name,Year,Genre,Runtime,Ratings,Votes
0,1.,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,778,177"
1,2.,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"828,817"
2,3.,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"856,753"
3,4.,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"257,205"
4,5.,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"217,733"
...,...,...,...,...,...,...,...
95,96.,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,765"
96,97.,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,087"
97,98.,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"162,232"
98,99.,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,200"
99,100.,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"183,879"

## Question 10:

In [194]:
driver.get('https://archive.ics.uci.edu/ml/index.php')

In [203]:
try:
    link = driver.find_element_by_xpath("//table[@bgcolor='#003366']/tbody/tr/td[2]/span[2]/a")
    driver.get(link.get_attribute('href'))

except ElementNotVisibleException as e:
    print('Execption Raised: ', e)
except UnexpectedTagNameException as e:
    print('Tag Name not found:', e)

In [229]:
dataset_name = []
datatype = [] 
task = []
attribute_type = []
instances = []
attribute = []
year = []

try:
    dataset_name_tag = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    datatype_tag = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[2]/p")
    task_tag = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[3]/p")
    attribute_type_tag = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[4]/p")
    instances_tag = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[5]/p")
    attribute_tag = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[6]/p")
    year_tag = driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[7]/p")

    for i in dataset_name_tag:
        if i.text == ' ':
            dataset_name.append('NA')
        else:
            dataset_name.append(i.text.strip())

    for i in datatype_tag:
        if i.text == ' ':
            datatype.append('NA')
        else:
            datatype.append(i.text.strip())

    for i in task_tag:
        if i.text == ' ':
            task.append('NA')
        else:
            task.append(i.text.strip())

    for i in attribute_type_tag:
        if i.text == ' ':
            attribute_type.append('NA')
        else:
            attribute_type.append(i.text.strip())

    for i in instances_tag:
        if i.text == ' ':
            instances.append('NA')
        else:
            instances.append(i.text.strip())

    for i in attribute_tag:
        if attribute == ' ':
            attribute.append('NA')
        else:
            attribute.append(i.text.strip())
        
    for i in year_tag:
        if i.text == ' ':
            year.append('NA')
        else:
            year.append(i.text.strip())
        
except UnexpectedTagNameException as e:
    print('Tag Name not found:', e)

In [230]:
uci = pd.DataFrame({'DataSet Name': dataset_name, 'DataType': datatype[1:], 'Task':task[1:], 'Attribute Type':attribute_type[1:], 'Instance Type':instances[1:], 'Attribute':attribute[1:], 'Year':year[1:]})
uci

,DataSet Name,DataType,Task,Attribute Type,Instance Type,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,NA
3,Anonymous Microsoft Web Data,NA,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
580,Wisesight Sentiment Corpus,"Multivariate, Text",Classification,NA,26737,4,2020
581,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
582,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
583,in-vehicle coupon recommendation,Multivariate,Classification,NA,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020